main {
  background-color: #efeeec;
}
.divtesto {
  top: 100px;
}
.contatti {
  top: 150px;
  height: 412px;
  overflow: auto;
  width: 213px;
  margin-left: 5px;
}
.principale {
  overflow: hidden;
  /* height: 418px; */
}
.imgavatar {
  width: 50px;
  border-radius: 50%;
}
.name {
  cursor: pointer;
}
::-webkit-scrollbar {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgb(78, 76, 76);
}
::-webkit-scrollbar {
  width: 3px;
}
